################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Source/.vs/RayTracer/v16
/Source/TempFiles
